RewriteEngine on

RewriteCond %{HTTP_HOST} ^app1.cjgzs.com[NC]
RewriteRule ^(.*)$ http://app1.cjgzs.com/$1 [L,R=301]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1